*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
}

#backarea {
    height: 100%;
    background-color: #6783e6  ;
    border: 2px solid #EE9A11;
}

#searchinput {
    font-size: 14pt;
    height: 35px;
    width: 260px;
    margin: 0;
    padding-left: 5px;
}

.row,
#map,
#list-view,
.container-fluid {
    height: 100%;
}



h2 {
    color: #309FE7  ;
    font-family: 'Dancing Script', cursive;
    font-style: normal;
    font-size: 32px;
    font-weight: bolder;
    padding-top: 10px;
}

h3 {
    color: #161D4E;
    font-size: 20px;
    font-weight: bolder;
}

h4 {
    color: #2A221C;
    font-size: 20px;
    font-weight: bolder;
}

ul li {
    margin: 2px;
    color: #88E23D  ;
    font-family: 'Architects Daughter', cursive;
    font-size: 24px;
    font-weight: 900;
}

ul li:hover {
    font-size: 23px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    color: #EE9A11;
}

.adicionar{
    display: flex;
    width: 100%;
    justify-content: center;
}

#botao{
    display: flex;
    width: 200px;
    height: 50px;
    background-color: #ee5311;
    border: none;
    justify-content: center;
    color: white;
    font-family: 'Architects Daughter', cursive;
    font-size: 24px;
    font-weight: 900;
    border: none;
}

.locais{
    display: flex;
    flex-direction: column;
    max-height: 400px;
    overflow-y: auto;
    margin: 0;
}
